@font-face {
  font-family: nordica;
  src: url("fonts/NordicaHairline.otf");
}

body {
  background-color: #eee;
  font-family: nordica;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.container h1, h2 {
  color: #555;
}

.pulsate {
  -webkit-animation: fade 1.25s infinite alternate;
  -moz-animation: fade 1.25s infinite alternate;
  -ms-animation: fade 1.25s infinite alternate;
  -o-animation: fade 1.25s infinite alternate;
  animation: fade 1.25s infinite alternate;
}

@-webkit-keyframes fade {
 from { opacity: 1; }
 to { opacity: 0.5; }
}

@-moz-keyframes fade {
 from { opacity: 1; }
 to { opacity: 0.5; }
}

@-ms-keyframes fade {
 from { opacity: 1; }
 to { opacity: 0.5; }
}

@-o-keyframes fade {
 from { opacity: 1; }
 to { opacity: 0.5; }
}

@keyframes fade {
 from { opacity: 1; }
 to { opacity: 0.5; }
}

#title h1 {
  font-size: 5em;
  line-height: 0.4;
}

#title span {
  font-size: 25%;
}

#title h2 {
  font-size: 3em;
}

#game-container {
  display: none;
}

#direction h1 {
  font-size: 4em;
}

#countdown {
  padding-bottom: 16px;
}

#countdown h1 {
  font-size: 2.5em;
  color: #e74c3c;
}

#score-container {
  display: none;
}

#score h1 {
  font-size: 3em;
}

#restart-message h1 {
  font-size: 1.25em;
}
