@font-face {
  font-family: nordica;
  src: url("fonts/NordicaHairline.otf");
}

body {
  background-color: #eee;
  font-family: nordica;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.container h1 {
  color: #555;
}

#direction h1 {
  font-size: 4em;
}

#countdown {
  padding-bottom: 16px;
}

#countdown h1 {
  font-size: 2.5em;
}
